html, body, h1, h2, h3, h4, div, header, aside, section, p, a { margin:0; padding:0; }
body { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px; background:#efefef; color:#333; }
header, aside, section, nav, article, footer { display:block; }
ol { list-style: decimal outside none; }
ul, ol { margin: 0 0 9px 10px; padding: 0; }

a { color:#08c; text-decoration:none; }
a:hover { text-decoration:underline; }

#mainContainer { height:100%; width:100%; overflow:hidden; }

header { background:#16C2F7; padding:1.7em; box-shadow:0 0 7px #555; position:relative; z-index:2; }
h1.logo { margin-left:1em; font-size:24px; line-height:0; color:#0193BF; text-shadow:0 0px 5px #000 inset; }
h1.logo i { color:#fff; }
h1.logo span { font-size:18px; margin-left:20px; color:#f0f0f0; }

#banner { position:absolute; top:0; right:0; font-style: italic; }
#banner div { height: 149px; width: 149px; overflow:hidden; position:relative; z-index:999; float:right;	}
#banner a { display: block; width: 190px; font-size: 14px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
		"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
		Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	background-color: #555; color: #FFF; word-spacing: 2px; text-decoration: none; padding: 5px 15px 5px 25px;
	position:relative; left: 20px; top: -37px; text-align: center; -moz-transform-origin: 0 0 ;
	-moz-transform:rotate(45deg); -moz-box-shadow:1px 1px 5px 1px #666;
	-webkit-transform-origin: 0 0 ;	-webkit-transform:rotate(45deg); -webkit-box-shadow: 1px 1px 5px 1px #666;
	-ms-transform-origin: 0 0 ;	-ms-transform:rotate(45deg); -ms-box-shadow: 1px 1px 5px 1px #666;
	transform-origin: 0 0 ;	transform:rotate(45deg); box-shadow: 1px 1px 5px 1px #666;
	background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #000000),
		color-stop(0.05, #666666),
		color-stop(0.07, #000000),
		color-stop(0.93, #000000),
		color-stop(0.95, #666666),
		color-stop(0.97, #000000)
	);	

		}

aside { float:left; width:650px; overflow:hidden; overflow-y:auto;
	background:#fff; border-right:3px solid #d0d0d0; }
aside section { padding:20px; }
aside section p { padding:5px 0; line-height: 1.8; }
aside section h2 { padding:15px 0 5px; }
aside section footer { margin:50px auto; text-align1:center; color:#999; }
aside section .subtitle { font-size:15px; text-align:center; }
aside section ul.references { marging:20px 0; }

#map { display:block; float:left; position:relative; background:#888; color:#ddd; overflow:hidden; }

#loader { position:absolute; top:0; left:0; width:100%; height:100%; z-index:999; background:#16C2F7; display:none; }
#loader .logo { line-height:2; text-align:center; padding-top:15%; }

/* clearfix short For modern browsers */
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

.book {
	position: relative;
	padding-right: 15em;
	height: 12em;
}

.book .img {
	display: block;
	width: 100px;
	position: absolute;
	top: 0;
	right: 2em;
}

.book .img img {
	width: 100%;
	height: auto;
}

pre, code { border-radius:3px; font-family:Menlo,Monaco,"Courier New",monospace; font-size:12px; line-height:16px; }
code { background-color: #F7F7F9; border: 1px solid #E1E1E8; color:#888; padding:2px 4px; }

.pin_clusterer { border:1px solid #0fb4e7; cursor:pointer !important;
	box-shadow:1px 1px 3px #333;
	border-radius:50%;
	background: #a9e4f7; /* Old browsers */
	background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
	background: linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */  }
.pin_clusterer.pin { cursor:auto;	background: #e0f3fa; /* Old browsers */
	background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
	background: linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */ }
.pin_clusterer div { color:#f0f0f0 !important; font-size:10px !important; font-weight:normal !important; text-shadow:0 0 3px #999; }
.pin_clusterer.cluster { outline:4px; overflow:visible !important; }
.pin_clusterer img { display:none; }
